= simple_form_for(@mission) do |f|
  = f.error_notification

  .form-inputs
    = f.input :index,label:'编号',placeholder:'编号',error:'integer',input_html:{maxlength:2},hint:'请填入整数'
    = f.input :title,placeholder:'请输入标题'
    = f.input :detail,input_html:{placeholder:'请输入内容',style:'border:1px solid red'},required:true
    = f.input :detail,as: :radio_buttons,collection:["同意","不同意"],input_html:{selected:'selected'}
  .form-actions
    = f.button :submit,value:'保存'
